@page "/"
@using BlazorOpgave.Data
@using System.Data.SqlClient;

<PageTitle>Home</PageTitle>

<h1 style='text-align: center'>List of People!</h1>

<br />
<br />
<br />

<div hidden='@hideEdit' style='display: flex; width: 80%; margin-inline: auto'>
	<h2>Edit</h2>
	<div>
		<p>ID</p>
		<input disabled style='width: 150px' @bind='this.idEdit' />
	</div>
	<div style='margin-left: 26px'>
		<p>First Name</p>
		<input type='text' style='width: 150px' @bind='this.firstNameEdit' />
	</div>
	<div style='margin-left: 344px'>
		<p>Last Name</p>
		<input type='text' style='width: 150px' @bind='this.lastNameEdit' />
	</div>
	<button style='margin-left: 150px; height: 40px; width: 65px; margin-top: auto' @onclick='() => this.hideEdit = true'>Cancel</button>
	<button style='height: 40px; width: 65px; margin-top: auto' @onclick='onEdit'>Save</button>
</div>

<div hidden='@(!hideEdit)' style='display: flex; width: 80%; margin-inline: auto'>
	<h2>Create</h2>
	<div style='margin-left: 26px'>
		<p>First Name</p>
		<input type='text' style='width: 150px' @bind='this.firstName' />
	</div>
	<div style='margin-left: 344px'>
		<p>Last Name</p>
		<input type='text' style='width: 150px' @bind='this.lastName' />
	</div>

	<button style='margin-left: 327px; height: 40px; width: 65px; margin-top: auto' @onclick='createPerson'>Save</button>
</div>

<table class='table' style='width: 80%; margin-inline: auto'>
	<thead>
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (Person person in this.peopleList)
		{
			<tr>
				<td>@person.getId()</td>
				<td>@person.getFirstName()</td>
				<td>@person.getLastName()</td>
				<td><button @onclick='() => editRow(person.getId(), person.getFirstName(), person.getLastName())'>Edit</button></td>
				<td><button @onclick='() => deleteRow(person.getId())'>Delete</button></td>
			</tr>
		}
	</tbody>
</table>

@code {
	bool hideEdit = true;
	string? firstName;
	string? lastName;
	string? firstNameEdit;
	string? lastNameEdit;
	string? idEdit;
	List<Person> peopleList = PersonService.getPeopleList();

	private void deleteRow(string id)
	{
		PersonService.deletePerson(id);
		this.peopleList = PersonService.getPeopleList();
	}

	private void editRow(string id, string firstName, string lastName)
	{
		this.idEdit = id;
		this.firstNameEdit = firstName;
		this.lastNameEdit = lastName;
		this.hideEdit = false;
	}

	private void onEdit()
	{
		PersonService.editPerson(this.idEdit, this.firstNameEdit, this.lastNameEdit);
		this.hideEdit = true;
		this.peopleList = PersonService.getPeopleList();
	}

	private void createPerson()
	{
		PersonService.createPerson(this.firstName, this.lastName);
		this.peopleList = PersonService.getPeopleList();
	}
}